<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<div>
  <main>
    <div class="container-lg px-3 new-discussion-timeline">
      <div class="repository-content gist-content">
        <div class="js-gist-file-update-container js-task-list-container file-box">
          <div id="file-pytest" class="file my-2">
            <div class="Box d-flex flex-column flex-shrink-0 mb-3 sticky-header" id="post-header">
              <div class="Box-header Details js-details-container">
                <div class="d-flex flex-items-center">
                  <span class="flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1">
                    <a><img class="avatar avatar-user" height="48" width="48" src="{{ "images/avatar.jpg" | absURL }}"></a>
                  </span>

                  <div class="flex-1 d-flex flex-items-center ml-3 min-width-0">
                    <div class="css-truncate css-truncate-overflow">
                      
                      <div class="d-flex flex-column">
                        <h1 class="break-word f3 text-normal mb-md-0 mb-1">
                          <strong class="css-truncate-target mr-1" style="max-width: 410px">{{ .Title }}</strong>
                        </h1>
                        
                        {{ if .Params.contributors }}
                        <details class="details-reset details-overlay details-overlay-dark lh-default color-fg-default float-left mr-3">
                          <summary class="Link--primary" role="button">
                            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-people">
                              <path fill-rule="evenodd" d="M5.5 3.5a2 2 0 100 4 2 2 0 000-4zM2 5.5a3.5 3.5 0 115.898 2.549 5.507 5.507 0 013.034 4.084.75.75 0 11-1.482.235 4.001 4.001 0 00-7.9 0 .75.75 0 01-1.482-.236A5.507 5.507 0 013.102 8.05 3.49 3.49 0 012 5.5zM11 4a.75.75 0 100 1.5 1.5 1.5 0 01.666 2.844.75.75 0 00-.416.672v.352a.75.75 0 00.574.73c1.2.289 2.162 1.2 2.522 2.372a.75.75 0 101.434-.44 5.01 5.01 0 00-2.56-3.012A3 3 0 0011 4z"></path>
                            </svg>
                            <strong>
                              {{ len .Params.contributors }}
                            </strong>
                            contributors
                          </summary>

                          <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast" aria-label="Users who have contributed to this file" preload="" role="dialog" aria-modal="true" tabindex="-1">
                            <div class="Box-header">
                              <h3 class="Box-title">
                                有帮助的文章，感谢!
                              </h3>
                            </div>
                            <ul class="list-style-none overflow-auto">
                              {{ range .Params.contributors  }} 
                                <li class="Box-row">
                                  <a class="Link--primary no-underline" href="{{ .link }}" target="_blank">{{ .title }}</a>    
                                </li>
                              {{ end }}
                            </ul>
                          </details-dialog>
                        </details>
                        {{ end }}

                        
                      </div>

                      <!-- <div class="note m-0">
                        创建于 <relative-time datetime="{{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}"
                          class="no-wrap">
                          {{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</relative-time>
      
                        {{ if .Site.Params.lastmod }}
                        <span class="file-info-divider"></span>
                        最后修改于 <relative-time datetime="{{ .Lastmod.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}"
                          class="no-wrap">
                          {{ .Lastmod.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</relative-time>
                        {{ end }}
                      </div> -->
                      
                    </div>
                  </div>

                  <div class="ml-3 d-flex flex-shrink-0 flex-items-center flex-justify-end no-wrap">

                    <div class="ml-3 no-wrap Link--primary no-underline">
                      <summary id="toc-toggle" class="btn btn-octicon m-0 p-2" aria-haspopup="menu" aria-label="Table of Contents" role="button">
                        <svg t="1637641738297" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="15046" width="16" height="16"><path d="M483.5680256 483.54450834h225.99774485v56.4406442H483.5680256z m-169.32193185 0h112.88128763v56.4406442h-112.88128763z m169.32193185-169.32193185h225.99774485v56.4406442H483.5680256z m-169.32193185 0h112.88128763v56.4406442h-112.88128763z m169.32193185 339.0201353h225.99774485v56.44064344H483.5680256z m-169.32193185 0h112.88128763v56.44064344h-112.88128763z" fill="#2188ff" p-id="15047"></path><path d="M681.48655039 116.4921875H173.00338196v791.015625h677.99323608V116.4921875z m112.88128764 740.17201192H229.44402617V167.33580058h565.01788016z" fill="#2188ff" p-id="15048"></path></svg>
                      </summary>
                    </div>

                  </div>
                </div>

              </div>
            </div>

           
            <!-- <div>
              Create At <relative-time datetime="{{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}" class="no-wrap">
                {{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}
              </relative-time>
  
              {{ if .Site.Params.lastmod }}
              <span class="file-info-divider"></span>
                最后修改于 
                <relative-time datetime="{{ .Lastmod.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}" class="no-wrap">
                  {{ .Lastmod.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}
                </relative-time>
              {{ end }}
            </div> -->

            <div class="Box-body px-5 pb-5">
              <article class="markdown-body entry-content container-lg">
                {{- .Content -}}
              </article>
            </div>

            {{ if or .PrevInSection .NextInSection }}
              <div class="paginate-container" style="margin-right: 20px;margin-left: 20px;">
                <ul class="list-style-none d-flex flex-wrap col-12 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
                  <li class="mr-3 mr-lg-0" style="padding: 10px;">
                    <div>
                      {{ with .NextInSection }}
                        <a href="{{ .Permalink }}" class="btn btn-outline">上一篇<br>{{ .LinkTitle }}</a>
                      {{ end }}
                    </div>
                  </li>
                  <li class="mr-3 mr-lg-0" style="padding: 10px;">
                    <div>
                      {{ with .PrevInSection }}
                        <a href="{{ .Permalink }}" class="btn btn-outline ">下一篇<br>{{ .LinkTitle }}</a>
                      {{ end }}
                  </div>
                  </li>
                </ul>
              </div>
            {{ end }}

          </div>

          {{ if not (.Params.noshare) }}
          {{ partial "share.html" }}
          {{ end }}

          {{ partial "utterances.html" . }}
        </div>
      </div>
    </div>
  </main>
</div>
<script>
 // Set up `scroll-padding-top` which is relevant for preventing
 // fixed headers from covering content
 // See https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my
 window.onload = function () {
   const header = document.getElementById('post-header');
   const headerHeight = header.offsetHeight;
   // 10px for a bit of leeway
   document.documentElement.style.scrollPaddingTop = headerHeight + 10 + "px";
 }

 const tocToggleButton = document.getElementById("toc-toggle");

 const tippyInstance = tippy('#toc-toggle', {
  trigger: 'click',
  content: '<div id="table-of-contents" class="SelectMenu-list SelectMenu-list--borderless p-2" style="overscroll-behavior: contain;border: 0;">{{ .TableOfContents }}</div>',
  allowHTML: true,
  placement: 'bottom-start',
  interactive: true,
  arrow: false,
  maxWidth: "none",
  onHide: function () { tocToggleButton.classList.remove("hover"); },
  onShow: function () { tocToggleButton.classList.add("hover"); },
  onShown: function () {
    // selectTableOfContentsOption();

    if (window.hasSetupTableOfContentsListeners) {
      return;
    }

    const tableOfContents = document.getElementById("table-of-contents");
    tableOfContents.addEventListener('click', function () {
      // Assumes there's only ever 1 tooltip
      tippyInstance[0].hide();
    });

    window.hasSetupTableOfContentsListeners = true;
  }
 });

 function selectTableOfContentsOption () {
   const optionSelectedClass = 'table-of-contents-option-selected';

   const tableOfContentsOptions = document.querySelectorAll("#table-of-contents > nav > ul li");

   for (const option of tableOfContentsOptions) {
     // Find anchors and either select/unselect it based on the URL's hash

     const [child] = option.children;
    //  if (child.tagName.toLowerCase() !== 'a') {
    //    continue;
    //  }

     if (window.location.href === child.href) {
       child.classList.add(optionSelectedClass);
     } else {
       child.classList.remove(optionSelectedClass);
     }
   }
 }

 window.onhashchange = selectTableOfContentsOption;
</script>
